* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Gray-500: hsl(0, 0%, 42%);
  --Gray-950: hsl(0, 0%, 7%);
}

body {
  background-color: var(--Yellow);
  font-family: "Figtree", sans-serif;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--White);
  border-radius: 15px;
  padding: 20px;
  width: 320px;
  box-shadow: 10px 10px 0 var(--Gray-950), -1px -1px 0 var(--Gray-950);
}

.card-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}

.card-panel img {
  border-radius: 10px;
  width: 100%;
}

.card-info h1 {
  width: fit-content;
  background-color: var(--Yellow);
  font-size: 16px;
  padding: 7px;
  border-radius: 5px;
}

.card-info h1 {
  width: fit-content;
  background-color: var(--Yellow);
  font-size: 16px;
  padding: 7px;
  border-radius: 5px;
  margin: 15px 0;
}

.card-info h2 {
  font-size: 12px;
  color: var(--Gray-950);
  margin: 15px 0;
}

.card-info h3 {
  color: var(--Gray-950);
  margin: 15px 0;
}

.card-info p {
  color: var(--Gray-500);
  font-size: 16px;
  margin: 15px 0;
}

.card-end {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-top: 20px ;
}

@font-face {
  font-family: "Figtree";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("truetype");
}

@media (max-width: 375px) {
  .card {
    width: 300px;
  }
}
